body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  max-width: 800px;
}
.ql-toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}

#editor-wrapper {
  position: relative;
}

#editor-container {
  height: 300px;
}

img{
  width: 100%;
}

i{
  width: 200px;
  height: 200px;
}